@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
@using PIM.Models

<ul class="navbar-nav">

    @if (HttpContextAccessor.HttpContext.Request.Cookies["jwt"] != null)
    {
        <li class="nav-item">
            <a class="nav-link text-light" asp-area="" asp-controller="User" asp-action="Profile">Perfil</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-light" style="cursor: pointer;" onclick="logout()">Logout</a>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="Register">Register</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="Login">Login</a>
        </li>
    }
</ul>

