
@{
    ViewData["Title"] = "_ProfilePartial";
}

<div class="col-md-3 ">
    <div class="list-group ">
        <a class="list-group-item list-group-item-action" asp-area="" asp-controller="User" asp-action="Profile">Perfil</a>
        <a class="list-group-item list-group-item-action" asp-area="" asp-controller="User" asp-action="PaymentReceipts">Recibos</a>
    </div>
</div>