@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor

<ul class="navbar-nav flex-grow-1">
    @if (HttpContextAccessor.HttpContext.Request.Cookies["jwt"] != null)
    {
        <li class="nav-item">
            <a class="nav-link text-light" asp-area="" asp-controller="User" asp-action="News">Noticias</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-light" asp-area="" asp-controller="User" asp-action="BuyCurrency">Comprar Moeda</a>
        </li>
    }
</ul>