@{
    ViewData["Title"] = "Home Page";
}

<link rel="stylesheet" href="~/css/index.css" />

<div class="container">
    <div class="clearfix">
        <img src="~/assets/crypto-currency.jpg" alt="..." class="float-left">
        <div class="text-center">
            <h1>Por que invetir em criptomoedas?</h1>
            <hr />
            <p class="cryptoText">
                Criptomoedas são moedas digitais que utilizam a criptografia <br />
                para proteger seus dados, criar novas unidades e confirmar <br />
                suas transações, através de cálculos realizados por super <br />
                computadores interligados (nodes ou nós) na rede blockchain <br />
                de forma descentralizada. Um exemplode criptomoeda mais conhecida é o Bitcoin (BTC).
            </p>
        </div>
    </div>
</div>