@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" href="~/css/login.css" />
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>

<div class="card">
    <article class="card-body">
        <a asp-area="" asp-controller="Home" asp-action="Register" class="float-right btn btn-outline-primary">Cadastro</a>
        <h4 class="card-title mb-4 mt-1">Login</h4>
        <form>
            <div class="form-group">
                <label>Email</label>
                <input id="email" class="form-control" placeholder="Email" type="email">
            </div>
            <div class="form-group">
                <a class="float-right" href="#">Forgot?</a>
                <label>Senha</label>
                <input id="password" class="form-control" placeholder="******" type="password">
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label> <input type="checkbox"> Save password </label>
                </div>
            </div>
            <div class="form-group">
                <button type="button" onclick="Login()" class="btn btn-primary btn-block"> Login  </button>
            </div>
        </form>
    </article>
</div>

<script src="~/js/login.js"></script>

