@{
    ViewData["Title"] = "Home Page";
}

 <link rel="stylesheet" href="~/css/index.css" />

<div class="text-center">
    <div class="post-container">
        <div class="post-thumb">
            <img src="http://dummyimage.com/200x200/f0f/fff" class="img" /></div>
        <div class="post-content">
            <h3 class="post-title">Post title</h3>
            <p>
                pdpfjpdsfjpsjdpoooooooooooopsdfpsdpdposgpoid
                <br />
                pdpfjpdsfjpsjdpoooooooooooopsdfpsdpdposgpoid
                <br />
                pdpfjpdsfjpsjdpoooooooooooopsdfpsdpdposgpoid
                <br />
                pdpfjpdsfjpsjdpoooooooooooopsdfpsdpdposgpoid

            </p>
        </div>
    </div>
</div>
