
@{
    ViewData["Title"] = "Dashboard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Dashboard</h1>

<div>
    <h3 id="usernameMessage">
        Welcome, User!
    </h3>
    <div class="my-3 p-3 bg-white rounded box-shadow">
        <h6 class="border-bottom border-gray pb-2 mb-0">Recent updates</h6>
        <div class="media text-muted pt-3">
            <img data-src="holder.js/32x32?theme=thumb&bg=007bff&fg=007bff&size=1" alt="" class="mr-2 rounded" />            
            <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray" name="news">
                <strong class="d-block text-gray-dark"></strong>
                News content
            </p>
            <a href="https://localhost:44353/Home/Error" name="linknews">ler</a>
        </div>
        <div class="media text-muted pt-3">
            <img data-src="holder.js/32x32?theme=thumb&bg=e83e8c&fg=e83e8c&size=1" alt="" class="mr-2 rounded">
            <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray" name="news">
                <strong class="d-block text-gray-dark"></strong>
                News content
            </p>
            <a href="https://localhost:44353/Home/Error" name="linknews">ler</a>
        </div>
        <div class="media text-muted pt-3">
            <img data-src="holder.js/32x32?theme=thumb&bg=6f42c1&fg=6f42c1&size=1" alt="" class="mr-2 rounded">
            <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray" name="news">
                <strong class="d-block text-gray-dark"></strong>
                News content
            </p>
            <a href="https://localhost:44353/Home/Error" name="linknews">ler</a>
        </div>
        </div>
</div>