@model PIM.Models.PaymentReceipt

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>PaymentReceipt</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            
        </dt>
        <dd class = "col-sm-10">
            
        </dd>
        <dt class = "col-sm-2">
            
        </dt>
        <dd class = "col-sm-10">
            
        </dd>
        <dt class = "col-sm-2">

        </dt>
        <dd class = "col-sm-10">

        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.PaymentReceiptsId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
