
@{
    ViewData["Title"] = "Wallet";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3> Investimento ativo </h3>

<canvas id="line-chart" width="400" height="150"></canvas>

<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
<script src="~/js/wallet.js"></script>