
@{
    ViewData["Title"] = "News";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" href="~/css/news.css" />

<h3> Últimas notícias </h3>
<div class="card-deck">
    <div class="card">
        <img class="card-img-top" src="~/assets/cnn.jpg" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">CNN Money</h5>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        </div>
        <div class="card-footer">
            <a href="https://money.cnn.com/data/markets/">ler na integra</a>
        </div>
    </div>
    <div class="card">
        <img class="card-img-top" src="~/assets/mymoney.gif" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">My Money Gov</h5>
            <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
        </div>
        <div class="card-footer">
            <a href="https://www.mymoney.gov/Pages/default.aspx">ler na integra</a>
        </div>
    </div>
    <div class="card">
        <img class="card-img-top" src="~/assets/kiplinger.jpg" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Kiplinger</h5>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
        </div>
        <div class="card-footer">
            <a href="https://www.kiplinger.com/">ler na integra</a>
        </div>
    </div>
</div>

<br />

<div class="card-deck">
    <div class="card">
        <img class="card-img-top" src="~/assets/this-money.jpg" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">This Money UK</h5>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        </div>
        <div class="card-footer">
            <a href="https://www.thisismoney.co.uk/money/index.html">ler na integra</a>
        </div>
    </div>
    <div class="card">
        <img class="card-img-top" src="~/assets/the-street.png" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">The Street</h5>
            <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
        </div>
        <div class="card-footer">
            <a href="https://www.thestreet.com/">ler na integra</a>
        </div>
    </div>
    <div class="card">
        <img class="card-img-top" src="~/assets/marketwatch.png" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Market Watch</h5>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
        </div>
        <div class="card-footer">
            <a href="https://www.marketwatch.com/">ler na integra</a>
        </div>
    </div>
</div>

<script src="~/js/news.js"></script>