
@{
    ViewData["Title"] = "PaymentReceipt";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row">
        <partial name="_ProfilePartial" />
        <div class="col-md-9" style="margin:auto">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-12">
                            <h4>Recibos</h4>
                            <hr>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">                            
                            <div class="form-group row">
                                <label for="payments" id="payments" class="col-4 col-form-label"></label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/js/paymentReceipt.js"></script>
