@model IEnumerable<PIM.Models.PaymentReceipt>
@{
    ViewData["Title"] = "Recibos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row">
        <partial name="_ProfilePartial" />
        <div class="col-md-9" style="margin:auto">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-12">
                            <h4>Recibos</h4>
                        </div>
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>
                                        Data da transação
                                    </th>
                                    <th>
                                        Quantidade
                                    </th>
                                    <th>
                                        Descrição
                                    </th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        20/12/05
                                    </td>
                                    <td>
                                        255.551,00
                                    </td>
                                    <td>
                                        Primeira compra
                                    </td>
                                    <td>
                                        <a asp-action="Details" asp-route-id="1">Details</a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/js/paymentReceipt.js"></script>
